<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.appshed.appstore">


	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>

	<application
		android:name=".applications.AppStoreApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/appstore_app_name"
		android:theme="@style/AppTheme">
		<activity
			android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
			android:name=".activities.MainActivity"
			android:screenOrientation="portrait"
			android:label="@string/appstore_app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".activities.AppsByCategoryActivity"
				  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
				  android:screenOrientation="portrait"/>

		<activity android:name=".activities.AppDetailDialog"
				  android:theme="@style/Theme.UserDialog"/>

		<activity
			android:name=".activities.MyActivity"
			android:label="@string/appstore_app_name">
		</activity>
		<activity
			android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
			android:name=".activities.PhonegapActivity"
			android:exported="true"
			android:screenOrientation="portrait"/>

		<activity android:name=".activities.LaunchActivity"
				  android:screenOrientation="portrait"
				  android:theme="@style/Theme.UserDialog"
				  android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data
					android:host="apps.appshed.com"
					android:pathPrefix="/"
					android:scheme="http"/>
				<data
					android:host="www.apps.appshed.com"
					android:pathPrefix="/"
					android:scheme="http"/>
			</intent-filter>
		</activity>
		<activity android:name=".activities.QRScanerActivity"
				  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
				  android:screenOrientation="portrait">
		</activity>

		<receiver
			android:name=".services.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>

				<category android:name="com.appshed.appstore"/>
			</intent-filter>
		</receiver>

		<service android:name=".services.GcmIntentService"/>

		<service android:name=".services.RetrieveAppService"></service>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<activity android:name="com.google.android.gms.ads.AdActivity"
				  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
	</application>

</manifest>
